<header class = "card-top">
  <div class="card-content {{ .Params.type }}" id="{{ .Date }}">
    <div class="columns">
      <div class="column is-9 has-text-left">
        {{ range $key := .Param "tags"}}
        <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/tags/{{ $key}}/">
          <span class="menu-label">
            #{{ $key }}
          </span>
        </a>
        {{ end }}
      </div>
      <div class="column is-3 has-text-right">
        {{ with .Date }}
        <span class="menu-label has-text-info">{{ .Format "02.01.2006" }}</span>
        {{ end }}
      </div>
    </div>
  </div>
</header>
<section class = "card-center">
  <div class="card-content">
    <div class="card-image">
      {{partial "featured-card.html" .}}
    </div>
  </div>
</section>
<section class = "card-bottom">
  <div class="card-content">
    <div class="content">
      <a href="{{ .Permalink }}">
        <p class="title is-5 has-text-primary ">{{ .Title }}</p>
        <p class="subtitle is-6 has-text-grey">{{ .Params.description }}</p>
      </a>
    </div>
  </div>
</section>
