
<section class="hero is-fullheight has-background feature-hero top-hero">
  <img class="hero-background" src="{{ .Params.featured | relURL }}"  alt="">
  <div class="hero-body">
  </div>
  <div class="hero-foot has-padding">
    <div class="next-prev">
      <div class="next">
      {{ with .NextInSection }}
        <a class="button is-light" href="{{ .Permalink }}">
          <i class="fas fa-chevron-left fa-lg"></i>
        </a>
      {{ end }}
    </div>
    <div class="prev">
      {{ with .PrevInSection }}
        <a class="button is-light" href="{{ .Permalink }}">
          <i class="fas fa-chevron-right fa-lg"></i>
        </a>
      {{ end }}
    </div>
    </div>
    {{ partial "hero-header.html" . }}
  </div>
</section>
