<section class="section has-no-padding">

  <footer class="footer has-background-grey-lighter has-text-centered footer-tags">
    {{partial "tags.html" .}}
  </footer>

  <footer class="footer">
    <div class="content">
      <div class="level columns">
        {{ range .Site.RegularPages }}
        {{ if eq .Params.type "footer"}}
        <div class="level-item column is-half center">
          <div class="media">
            <div class="media-left">
              <a href="#{{ .Title | urlize }}">
                <div class="image is-64x64 has-background-light center" style="border-radius:50%;">
                  <i class="{{ .Params.headericon }} center fa-2x is-rounded has-text-dark"></i>
                </div>
              </a>
            </div>
            <div class="media-content">
              <h1 class="title is-5">{{ .Title }}</h1>
              <p> {{ .Content }}</p>
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
        <div class="level-item column is-half">
        </div>
      </div>
    </div>
  </footer>
</section>
