<div class="timeline is-centered">
  {{ $lang := (i18n "lang" )}}
  {{ range . }}
    <header class="timeline-header">
      <span class="tag is-medium is-primary"> {{ .name }}</span>
    </header>
    {{ range .events }}
      <div class="timeline-item is-primary">
        <!-- <div class="timeline-marker is-image is-64x64">
          <div class="image">
            <img class="is-rounded no-fit center" src="{{ .featured | relURL }}" alt="">
          </div>
        </div> -->
        <div class="timeline-marker is-primary">

        </div>
        <div class="timeline-content">
          <a href="{{ .link | relLangURL }}">
            <p class="heading">{{ .month }}</p>
            <p>{{ .title }}</p>
            <p class="heading has-text-grey">{{ .location }}</p>
          </a>
        </div>
      </div>
    {{ end }}
  {{ end }}
</div>
